<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WCAG 2.2 Checklist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>WCAG 2.2 Checklist with Filter and Links</h1>

<p>All links point to WCAG 2.1 except the WCAG 2.2 success criteria. All links open in a new window. For more similar resources, see Web Axe's post <a rel="noopener noreferrer" target="_blank" href="http://www.webaxe.org/wcag-cheat-sheets/">WCAG Cheat Sheets and Checklists</a>. Note that WCAG 2.2 removes 4.1.1 Parsing. This checklist was originally adapted from Paul Adam's <a rel="noopener noreferrer" target="_blank" href="http://pauljadam.com/wcag20checklist.html">WCAG 2.0 Checklist</a>.</p>

<fieldset>
  <legend>Select WCAG Version</legend>
  <label><input type="checkbox" id="wcag20" checked />WCAG 2.0</label>
  <label><input type="checkbox" id="wcag21" checked />WCAG 2.1</label>
  <label><input type="checkbox" id="wcag22" checked />WCAG 2.2</label>
</fieldset>

<fieldset>
  <legend>Select WCAG Level</legend>
  <label><input type="checkbox" id="levela" checked />Level A</label>
  <label><input type="checkbox" id="levelaa" checked />Level AA</label>
  <label><input type="checkbox" id="levelaaa" checked />Level AAA</label>
</fieldset>

<p aria-live="polite" aria-atomic="true" class="nomargin"><strong id="currentScCount">87</strong> success criteria shown</p>

<table role="presentation">
  <tr>
    <td>
      <h2><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#perceivable">1. Perceivable</a></h2>
      <ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#text-alternatives">1.1</a> Text Alternatives</li>
        <ul>
          <label>
            <li class="levela wcag20"><input name="1.1.1" type="checkbox" id="1.1.1" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/non-text-content.html">1.1.1</a> Non-text Content <span>A</span> <span>2.0</span></li>
          </label>
        </ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#time-based-media">1.2</a> Time-based Media</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/audio-only-and-video-only-prerecorded.html">1.2.1</a> Audio-only and Video-only (Prerecorded) <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/captions-prerecorded.html">1.2.2</a> Captions (Prerecorded) <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/audio-description-or-media-alternative-prerecorded.html">1.2.3</a> Audio Description or Media Alternative (Prerecorded) <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/captions-live.html">1.2.4</a> Captions (Live) <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/audio-description-prerecorded.html">1.2.5</a> Audio Description (Prerecorded) <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/sign-language-prerecorded.html">1.2.6</a> Sign Language (Prerecorded) <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/extended-audio-description-prerecorded.html">1.2.7</a> Extended Audio Description (Prerecorded) <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/media-alternative-prerecorded.html">1.2.8</a> Media Alternative (Prerecorded) <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/audio-only-live.html">1.2.9</a> Audio-only (Live) <span>AAA</span> <span>2.0</span></li>
          </label>
        </ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#adaptable">1.3</a> Adaptable</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships.html">1.3.1</a> Info and Relationships <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/meaningful-sequence.html">1.3.2</a> Meaningful Sequence <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/sensory-characteristics.html">1.3.3</a> Sensory Characteristics <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/orientation.html">1.3.4</a> Orientation <span>AA</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levelaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/identify-input-purpose.html">1.3.5</a> Identify Input Purpose <span>AA</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levelaaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/identify-purpose.html">1.3.6</a> Identify Purpose <span>AAA</span> <span>2.1</span></li>
          </label>
        </ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#distinguishable">1.4</a> Distinguishable</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/use-of-color.html">1.4.1</a> Use of Color <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/audio-control.html">1.4.2</a> Audio Control <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html">1.4.3</a> Contrast (Minimum) <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/resize-text.html">1.4.4</a> Resize Text <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/images-of-text.html">1.4.5</a> Images of Text <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/contrast-enhanced.html">1.4.6</a> Contrast (Enhanced) <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/low-or-no-background-audio.html">1.4.7</a> Low or No Background Audio <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/visual-presentation.html">1.4.8</a> Visual Presentation <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/images-of-text-no-exception.html">1.4.9</a> Images of Text (No Exception) <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/reflow">1.4.10</a> Reflow <span>AA</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levelaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast">1.4.11</a> Non-Text Contrast <span>AA</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levelaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/text-spacing">1.4.12</a> Text Spacing <span>AA</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levelaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/content-on-hover-or-focus">1.4.13</a> Content on Hover or Focus <span>AA</span> <span>2.1</span></li>
          </label>
        </ul>
      </ul>
    </td>
    <td>
      <h2><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#operable">2. Operable</a></h2>
      <ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#keyboard-accessible">2.1</a> Keyboard Accessible</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/keyboard.html">2.1.1</a> Keyboard <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/no-keyboard-trap.html">2.1.2</a> No Keyboard Trap <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/keyboard-no-exception.html">2.1.3</a> Keyboard (No Exception) <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/character-key-shortcuts.html">2.1.4</a> Character Key Shortcuts <span>A</span> <span>2.1</span></li>
          </label>
        </ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#enough-time">2.2</a> Enough Time</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/timing-adjustable.html">2.2.1</a> Timing Adjustable <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/pause-stop-hide.html">2.2.2</a> Pause, Stop, Hide <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/no-timing.html">2.2.3</a> No Timing <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/interruptions.html">2.2.4</a> Interruptions <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/re-authenticating.html">2.2.5</a> Re-authenticating <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/timeouts">2.2.6</a> Timeouts <span>AAA</span> <span>2.1</span></li>
          </label>
        </ul>
      </ul>
      <ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#seizures-and-physical-reactions">2.3</a> Seizures</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/three-flashes-or-below-threshold.html">2.3.1</a> Three Flashes or Below Threshold <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/three-flashes.html">2.3.2</a> Three Flashes <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/animation-from-interactions">2.3.3</a> Animation from Interactions <span>AAA</span> <span>2.1</span></li>
          </label>
        </ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#navigable">2.4</a> Navigable</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/bypass-blocks.html">2.4.1</a> Bypass Blocks <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/page-titled.html">2.4.2</a> Page Titled <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/focus-order.html">2.4.3</a> Focus Order <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/link-purpose-in-context.html">2.4.4</a> Link Purpose (In Context) <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/multiple-ways.html">2.4.5</a> Multiple Ways <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/headings-and-labels.html">2.4.6</a> Headings and Labels <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/focus-visible.html">2.4.7</a> Focus Visible <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/location.html">2.4.8</a> Location <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/link-purpose-link-only.html">2.4.9</a> Link Purpose (Link Only) <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/section-headings.html">2.4.10</a> Section Headings <span>AAA</span> <span>2.0</span></li>
          </label>
            <li class="levelaa wcag22"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG22/#focus-not-obscured-minimum">2.4.11</a> Focus Not Obscured (Minimum) <span>AA</span> <span>2.2</span></li>
          </label>
          </label>
            <li class="levelaaa wcag22"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG22/#focus-not-obscured-enhanced">2.4.12</a> Focus Not Obscured (Enhanced) <span>AAA</span> <span>2.2</span></li>
          </label>
          </label>
            <li class="levelaaa wcag22"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG22/#focus-appearance">2.4.13</a> Focus Appearance <span>AAA</span> <span>2.2</span></li>
          </label>
        </ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/input-modalities">2.5</a> Input Modalities</li>
        <ul>
          <label>
            <li class="levela wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/pointer-gestures">2.5.1</a> Pointer Gestures <span>A</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levela wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/pointer-cancellation">2.5.2</a> Pointer Cancellation <span>A</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levela wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/label-in-name">2.5.3</a> Label in Name <span>A</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levela wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/motion-actuation">2.5.4</a> Motion Actuation <span>A</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levelaaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/target-size">2.5.5</a> Target Size <span>AAA</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levelaaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/concurrent-input-mechanisms">2.5.6</a> Concurrent Input Mechanisms <span>AAA</span> <span>2.1</span></li>
          </label>
          <label>
            <li class="levelaa wcag22"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG22/#dragging-movements">2.5.7</a> Dragging Movements <span>AA</span> <span>2.2</span></li>
          </label>
          <label>
            <li class="levelaa wcag22"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG22/#target-size-minimum">2.5.8</a> Target Size (Minimum) <span>AA</span> <span>2.2</span></li>
          </label>
        </ul>
      </ul>
    </td>
    <td>
      <h2><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#understandable">3. Understandable</a></h2>
      <ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#readable">3.1</a> Readable</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/language-of-page.html">3.1.1</a> Language of Page <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/language-of-parts.html">3.1.2</a> Language of Parts <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/unusual-words.html">3.1.3</a> Unusual Words <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/abbreviations.html">3.1.4</a> Abbreviations <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/reading-level.html">3.1.5</a> Reading Level <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/pronunciation.html">3.1.6</a> Pronunciation <span>AAA</span> <span>2.0</span></li>
          </label>
        </ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#predictable">3.2</a> Predictable</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/on-focus.html">3.2.1</a> On Focus <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/on-input.html">3.2.2</a> On Input <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/consistent-navigation.html">3.2.3</a> Consistent Navigation <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/consistent-identification.html">3.2.4</a> Consistent Identification <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/change-on-request.html">3.2.5</a> Change on Request <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag22"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG22/#consistent-help">3.2.6</a> Consistent Help <span>A</span> <span>2.2</span></li>
          </label>
        </ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#input-assistance">3.3</a> Input Assistance</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/error-identification.html">3.3.1</a> Error Identification <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/labels-or-instructions.html">3.3.2</a> Labels or Instructions <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/error-suggestion.html">3.3.3</a> Error Suggestion <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/error-prevention-legal-financial-data.html">3.3.4</a> Error Prevention (Legal, Financial, Data) <span>AA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/help.html">3.3.5</a> Help <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaaa wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/error-prevention-all.html">3.3.6</a> Error Prevention (All) <span>AAA</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag22"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG22/#redundant-entry">3.3.7</a> Redundant Entry <span>A</span> <span>2.2</span></li>
          </label>
          <label>
            <li class="levelaa wcag22"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG22/#accessible-authentication-minimum">3.3.8</a> Accessible Authentication (Minimum) <span>AA</span> <span>2.2</span></li>
          </label>
          <label>
            <li class="levelaaa wcag22"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG22/#accessible-authentication-enhanced">3.3.9</a> Accessible Authentication (Enhanced) <span>AAA</span> <span>2.2</span></li>
          </label>
        </ul>
        <h2><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#robust">4. Robust</a></h2>
      </ul>
      <ul>
        <li><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/#compatible">4.1</a> Compatible</li>
        <ul>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/parsing.html">4.1.1</a> Parsing <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levela wcag20"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/name-role-value.html">4.1.2</a> Name, Role, Value <span>A</span> <span>2.0</span></li>
          </label>
          <label>
            <li class="levelaa wcag21"><input type="checkbox" /><a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/WAI/WCAG21/Understanding/status-messages">4.1.3</a> Status Messages <span>AA</span> <span>2.1</span></li>
          </label>
        </ul>
      </ul>
    </td>
  </tr>
</table>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
